***************************************************************************
                    Corporacion de Generacion S.A. (CDG)
***************************************************************************

  Acceso restringido a personal autorizado.

  Todas las conexiones y actividades en este sistema son registradas y
  auditadas. El uso no autorizado esta prohibido y sera reportado.

  Al continuar, usted acepta el monitoreo de su actividad.

***************************************************************************
