[defaults]
inventory            = inventory/hosts.yml
remote_user          = vagrant
private_key_file     = ~/.ssh/id_ed25519
interpreter_python   = auto_silent
stdout_callback      = yaml
retry_files_enabled  = False
roles_path           = roles
#vault_password_file  = vault-pass.sh

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
become_ask_pass = False

[ssh_connection]
# Reutiliza la conexion SSH entre tareas
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new 
